@page
@model ReticulaPWA.Pages.IndexModel
@{
    Layout = "Layout";
}
<div class="main__contenido">
    <section class="simbologia">
        <div class="simbologia__contenido">
            <img src="assets/iconos/cursando.png"
                 alt="cursando"
                 class="simbologia__img" />
            <label class="simbologia__label">Cursando</label>
        </div>

        <div class="simbologia__contenido">
            <img src="assets/iconos/sin-cursar.png"
                 alt="sin cursar"
                 class="simbologia__img" />
            <label class="simbologia__label">Sin Cursar</label>
        </div>

        <div class="simbologia__contenido">
            <img src="assets/iconos/acreditada.png"
                 alt="acreditada"
                 class="simbologia__img" />
            <label class="simbologia__label">Acreditada</label>
        </div>
        <div class="simbologia__contenido">
            <img src="assets/iconos/no-acreditada.png"
                 alt="no acreditada"
                 class="simbologia__img" />
            <label class="simbologia__label">No acreditada</label>
        </div>
    </section>

    <section class="tabla-container">
        <table class="tabla">
            <thead class="tabla__encabezados">
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                </tr>
            </thead>

            <tbody class="tabla__contenido">
                <tr>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td>
                        <div class="tabla__materia materia-cursando">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>

                    <td>
                        <div class="tabla__materia materia-sin-cursar">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td>
                        <div class="tabla__materia materia-sin-cursar">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td class="celda-vacia"></td>
                    <td class="celda-vacia"></td>
                    <td class="celda-vacia"></td>
                    <td>
                        <div class="tabla__materia materia-cursando">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                    <td class="celda-vacia"></td>
                    <td>
                        <div class="tabla__materia materia-no-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tabla__materia materia-acreditada">
                            <label class="materia__nombre">Programación web</label>
                            <label class="materia__clave">ACBD12-22</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<script src="main.js"></script>

