@page "/"
@model ReticulaPWA.Pages.IndexModel


<div class="main__contenido">
    <section class="simbologia">
        <div class="simbologia__contenido">
            <img src="assets/iconos/cursando.png"
                 alt="cursando"
                 class="simbologia__img" />
            <label class="simbologia__label">Cursando</label>
        </div>

        <div class="simbologia__contenido">
            <img src="assets/iconos/sin-cursar.png"
                 alt="sin cursar"
                 class="simbologia__img" />
            <label class="simbologia__label">Sin Cursar</label>
        </div>

        <div class="simbologia__contenido">
            <img src="assets/iconos/acreditada.png"
                 alt="acreditada"
                 class="simbologia__img" />
            <label class="simbologia__label">Acreditada</label>
        </div>
        <div class="simbologia__contenido">
            <img src="assets/iconos/no-acreditada.png"
                 alt="no acreditada"
                 class="simbologia__img" />
            <label class="simbologia__label">No acreditada</label>
        </div>
    </section>

    <section class="tabla-container">
        <section class="tabla" id="tabla-materias">
            <!-- PLANTILLA COLUMNA -->
            <template class="plantilla-columna">
                <div class="tabla__columna" data-semestre="1">
                    <h2 class="tabla__columna__titulo"></h2>
                    @* aqui van las fokin materias *@
                </div>

            </template>

            <!-- PLANTILLA MATERIA -->

            <template class="plantilla-materia">
                <div class="tabla__materia materia-acreditada">
                    <h3 class="tabla__materia__titulo">ag</h3>
                    <span class="tabla__materia__clave"></span>
                    
                </div>
               
                    
              
            </template>
            <!-- PLANTILLA OPORTUNIDAD -->
            <template class="platilla-oportunidad">
                <span class="oportunidad"></span>
            </template>
        </section>
    </section>

</div>

<script>

    window.addEventListener('load', function () {
       
        const credenciales =localStorage.getItem('credenciales');

        if(!credenciales){
            window.location.href = "/Login";
        }


    });

</script>

<script src="~/scripts/ReticulaScript.js"></script>
