@page
@model ReticulaPWA.Pages.IndexModel

<div class="main__contenido">
    <section class="simbologia">
        <div class="simbologia__contenido">
            <img src="assets/iconos/cursando.png"
                 alt="cursando"
                 class="simbologia__img" />
            <label class="simbologia__label">Cursando</label>
        </div>

        <div class="simbologia__contenido">
            <img src="assets/iconos/sin-cursar.png"
                 alt="sin cursar"
                 class="simbologia__img" />
            <label class="simbologia__label">Sin Cursar</label>
        </div>

        <div class="simbologia__contenido">
            <img src="assets/iconos/acreditada.png"
                 alt="acreditada"
                 class="simbologia__img" />
            <label class="simbologia__label">Acreditada</label>
        </div>
        <div class="simbologia__contenido">
            <img src="assets/iconos/no-acreditada.png"
                 alt="no acreditada"
                 class="simbologia__img" />
            <label class="simbologia__label">No acreditada</label>
        </div>
    </section>

    <section class="tabla-container">
        <section class="tabla">
            <div class="tabla__columna" data-semestre="1">
                <h2 class="tabla__columna__titulo">1</h2>
                <div class="tabla__materia materia-acreditada">
                    <h3 class="tabla__materia__titulo">ARQUITECTURA DE COMP</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                    <div class="tabla__materia__oportunidad">
                        <span class="tabla__materia__oportunidad--texto">Oportunidad:</span>
                        <span class="tabla__materia__oportunidad--numero">3.º</span>
                    </div>
                </div>
                <div class="tabla__materia materia-acreditada">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia materia-no-acreditada">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia materia-no-acreditada">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia materia-cursando">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>

                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 7</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
            </div>
            <div class="tabla__columna" data-semestre="2">
                <h2 class="tabla__columna__titulo">2</h2>
                <div class="tabla__materia tabla__materia--oportunidad">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                    <div class="tabla__materia__oportunidad">
                        <span class="tabla__materia__oportunidad--texto">Oportunidad:</span>
                        <span class="tabla__materia__oportunidad--numero">3.º</span>
                    </div>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>

                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
            </div>
            <div class="tabla__columna" data-semestre="3">
                <h2 class="tabla__columna__titulo">3</h2>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>

                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
            </div>
            <div class="tabla__columna" data-semestre="4">
                <h2 class="tabla__columna__titulo">4</h2>

                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>

                <div class="tabla__materia materia-acreditada">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                    <div class="tabla__materia__oportunidad">
                        <span class="tabla__materia__oportunidad--texto">Oportunidad:</span>
                        <span class="tabla__materia__oportunidad--numero">3.º</span>
                    </div>
                </div>

                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
            </div>
            <div class="tabla__columna" data-semestre="5">
                <h2 class="tabla__columna__titulo">5</h2>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
            </div>
            <div class="tabla__columna" data-semestre="6">
                <h2 class="tabla__columna__titulo">6</h2>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
            </div>
            <div class="tabla__columna" data-semestre="7">
                <h2 class="tabla__columna__titulo">7</h2>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>

                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
            </div>
            <div class="tabla__columna" data-semestre="8">
                <h2 class="tabla__columna__titulo">8</h2>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>

                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
            </div>
            <div class="tabla__columna" data-semestre="9">
                <h2 class="tabla__columna__titulo">9</h2>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>

                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
                <div class="tabla__materia">
                    <h3 class="tabla__materia__titulo">Materia 1</h3>
                    <span class="tabla__materia__clave">CA1344</span>
                </div>
            </div>
        </section>
    </section>
</div>

<script>
    const materiasOportunidadesDiv = document.querySelectorAll(
        ".tabla__materia__oportunidad"
    );

    materiasOportunidadesDiv.forEach((oportunidad) => {
        oportunidad.addEventListener("click", function () {
            this.querySelector(
                ".tabla__materia__oportunidad--texto"
            ).classList.toggle("opotunidad-texto-active");
            oportunidad.classList.toggle("oportunidad-active");
        });
        oportunidad.addEventListener("mouseleave", function () {
            this.querySelector(
                ".tabla__materia__oportunidad--texto"
            ).classList.remove("opotunidad-texto-active");
            oportunidad.classList.remove("oportunidad-active");
        });
    });
</script>