@page "/login"
@model ReticulaPWA.Pages.Shared.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/estilos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon"
          href="~/assets/logos/Logo144x144.png"
          type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet" />
    <link rel="manifest" href="~/manifest.json" />
    <title>Login</title>
</head>
<body>
    <main class="main">
        <div class="login">
            <div class="login__imagenes">
                <img src="assets/img/logo2.png" alt="logo" class="login__img" />
                <img src="assets/img/logo1.jpg" alt="logo" class="login__img" />
            </div>

            <form class="login__form">
                <h1 class="form__titulo">Avance Reticular</h1>
                <p class="form__descripcion">
                    Introduce los siguientes datos para iniciar sesión
                </p>
                <input type="text"
                       placeholder="Número de control"
                       class="form__input"
                       id="numControltxt"
                       required=""/>

                <input type="password" placeholder="Contraseña" class="form__input" id="passwordtxt" required="" />


                <input type="submit"
                       value="Ingresar"
                       class="form__submit"
                       id="btnIngresar" />

                <p class="form__errores">
                </p>

                <div id="loader">
                    <div class="spinner"></div>
                </div>



            </form>
        </div>
    </main>

    <script>
        const btnIngresar = document.getElementById("btnIngresar");
        const nombretxt = document.getElementById("numControltxt");
        const passwordtxt = document.getElementById("passwordtxt");
        const erroresLbl = document.querySelector(".form__errores");
        const loading = document.getElementById("loader");


        const perfilChannel = new BroadcastChannel("Perfil_Channel");
        const reticulaChannel = new BroadcastChannel("Reticula_Channel");


        async function ingresar(event) {

            event.preventDefault();

            erroresLbl.innerHTML = "";

            loading.style.display = "block";

            const numeroControl = nombretxt.value.toUpperCase();
            const password = passwordtxt.value;

            const response = await fetch("/api/Reticula", {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json',
                    "NumeroControl": numeroControl,
                    "Password": password
                },
            });


            if (response.ok) {

                const data = await response.json();

                const credenciales = {
                    numeroControl: numeroControl,
                    password: password
                };

                perfilChannel.postMessage(data.informacionGeneral);

                localStorage.setItem("perfil", JSON.stringify(data.informacionGeneral));
                localStorage.setItem("credenciales", JSON.stringify(credenciales));

                window.location.href = "/";
            }
            else {
                erroresLbl.textContent = "Erro";
            }

            loading.style.display = "none";

        }





        btnIngresar.addEventListener("click", ingresar);

    </script>
</body>
</html>

