@page "/pdf"
@model ReticulaPWA.Pages.PdfModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/estilos.css" />
    <title>Document</title>
</head>
<body>
    <section class="container-pdf" id="pdf">
        <div class="header__pdf">
            <h1 class="header__pdf__title">
                INSTITUTO TECNOLÓGICO DE ESTUDIOS SUPERIORES DE LA REGIÓN CARBONÍFERA
            </h1>
        </div>
        <section class="pdf__informacion">
            <div class="pdf__informacion__div">
                <label class="pdf__informacion__titulo">Nombre(a):</label>
                <label class="pdf__informacion__campo">Jorge Fabian Linan Alcala</label>
            </div>

            <div class="pdf__informacion__div">
                <label class="pdf__informacion__titulo">Carrera:</label>
                <label class="pdf__informacion__campo">Ingenieria en sistemas computacionales</label>
            </div>

            <div class="pdf__informacion__div">
                <label class="pdf__informacion__titulo">Número de control:</label>
                <label class="pdf__informacion__campo">201G0264</label>
            </div>

            <div class="pdf__informacion__div pdf__especialidad">
                <label class="pdf__informacion__titulo">Especialidad:</label>
                <label class="pdf__informacion__campo">Desarrollo multiplataforma</label>
            </div>
        </section>

        <section class="tablaPDF">
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">1</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <div class="tablaPDF__columna" data-semestre="1">
                <h2 class="tablaPDF__columna__titulo">13</h2>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
                <div class="tablaPDF__materia materia-acreditada">
                    <h3 class="tablaPDF__materia__titulo">Programacion logica 9</h3>
                    <span class="tablaPDF__materia__clave">ACCDEEDED</span>
                </div>
            </div>
            <!-- PLANTILLA MATERIA -->
        </section>
    </section>
    <script src="~/scripts/html2Pdf.js"></script>
    <script>
        const pdf = document.getElementById("pdf");

        const opciones = {
          filname: "Reticula.pdf",
          image: { type: "pdf", quality: 0.98 },
          html2canvas: { scale: 3 },
          jsPDF: { format: "a4", orientation: "landscape" },
        };

        html2pdf().set(opciones).from(pdf).save();
    </script>
</body>
</html>



