@page "/perfil"
@model ReticulaPWA.Pages.PerfilModel
<div class="perfil__container">
    <section class="perfil">
        <section class="perfil__fondo">
            <div class="perfil__fondo__color"></div>
            <figure class="perfil__foto">
                <img id="perfil__fotografia"
                     alt="Foto de perfil"
                     class="perfil__img" />
            </figure>
        </section>

        <section class="perfil__info">
            <label class="perfil__nombre" id="perfil__nombre"></label>
            <label class="perfil__numcontrol" id="perfil__numControl"></label>
        </section>

        <section class="perfil__info-general">
            <h4 class="informacion__titulo">Información general</h4>

            <div class="perfil__contenido__informacion" id="contenedor__informacion">
                <div class="informacion__div">
                    <label class="informacion__label">Carrera</label>
                    <label class="informacion__dato" id="perfil__carrera"></label>
                </div>
                <div class="informacion__div">
                    <label class="informacion__label">Plan de Estudios</label>
                    <label class="informacion__dato" id="perfil__planEstudios"></label>
                </div>
                <div class="informacion__div">
                    <label class="informacion__label">Módulo de Especialidad</label>
                    <label class="informacion__dato" id="perfil__especialidad"></label>
                </div>
                <div class="informacion__div">
                    <label class="informacion__label">Créditos Acumulados</label>
                    <label class="informacion__dato" id="perfil__creditos"></label>
                </div>
                <div class="informacion__div">
                    <label class="informacion__label">Situcación de Vigencia</label>
                    <label class="informacion__dato" id="perfil__vigencia"></label>
                </div>
          @*       <div class="informacion__div">
                    <label class="informacion__label">Periodo de Ingreso</label>
                    <label class="informacion__dato" id="perfil__periodoIngreso"></label>
                </div> *@
                <div class="informacion__div">
                    <label class="informacion__label">Número de Periodos Convalidados</label>
                    <label class="informacion__dato" id="perfil__numConvalidados"></label>
                </div>
                <div class="informacion__div">
                    <label class="informacion__label">Periodo Actual o Último</label>
                    <label class="informacion__dato" id="perfil__periodoActual"></label>
                </div>
            </div>
        </section>
    </section>
</div>

<script src="~/scripts/perfil.js"></script>
