<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="~/css/estilos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon"
          href="~/assets/logos/Logo144x144.png"
          type="image/x-icon" />

    <link rel="manifest" href="~/manifest.json" />

    <title>Avance Reticular</title>
    <style>
        body {
            font-family: "Montserrat", system-ui,sans-serif;
        }

    </style>
</head>
<body>
    <div class="container">

        <!-- #region HEADER -->

        <header class="header">
            <div class="header__div">
                <figure class="header__logo">
                    <img src="assets/logos/Logo192x192.png"
                         alt="Logo"
                         class="header__logo-img" />
                </figure>
                <h1 class="header__title">Avance Reticular</h1>
            </div>

            <div class="header__opciones">

                <figure class="header__opciones-foto">
                    <img alt="foto"
                         class="header__opciones-img" />
                </figure>

                <div class="header__opciones__informacion">

                    <h3 class="header__opciones-nombre"></h3>
                    @* <span class="header__opciones-numero"></span> *@
                </div>

                <figure class="header__opciones-icono">
                    <img alt="foto"
                         src="~/assets/iconos/arrow.png"
                         class="img" />
                </figure>

            </div>

            <div class="menu-flotante">

                <div class="menu-flotante__info menu-flotante__item">
                    <img src="assets/iconos/card-info.png"
                         alt="info"
                         class="menu-flotante__img" />
                    <div class="menu-flotante__info-div">
                        <label class="menu-flotante__nombre noselect"></label>
                        <label class="menu-flotante__numcontrol noselect"></label>
                    </div>
                </div>

                <div class="menu-flotante__pdf menu-flotante__item">
                    <img src="assets/iconos/download.svg"
                         alt="download"
                         class="menu-flotante__img" />
                    <label class="menu-flotante__pdf-label noselect">Descargar Retícula</label>
                </div>

                <div class="menu-flotante__logout menu-flotante__item">
                    <img src="assets/iconos/logout.svg"
                         alt="logout"
                         class="menu-flotante__img" />
                    <label class="menu-flotante__pdf-label noselect">Cerrar Sesión</label>
                </div>
            </div>
        </header>

        <!-- #endregion HEADER -->
        <!-- #region MENU -->

        <aside class="menu">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item" id="link-reticula">@* 
                        <img src="~/assets/iconos/reticula.svg" alt="Reticula" class="nav__img" /> *@
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="nav__svg"
                             viewBox="0 0 24 24">
                            <path d="M4 21h15.893c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zm0-2v-5h4v5H4zM14 7v5h-4V7h4zM8 7v5H4V7h4zm2 12v-5h4v5h-4zm6 0v-5h3.894v5H16zm3.893-7H16V7h3.893v5z"></path>
                        </svg>
                        <a class="nav__link">Materias</a>
                    </li>
                    <li class="nav__item" id="link-perfil">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="nav__svg"
                             viewBox="0 0 24 24">
                            <path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path>
                        </svg>
                        <a class="nav__link">Perfil</a>
                    </li>
                    <li class="nav__item" id="link-horario">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24"
                             class="nav__svg">
                            <path d="M21 20V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2zM9 18H7v-2h2v2zm0-4H7v-2h2v2zm4 4h-2v-2h2v2zm0-4h-2v-2h2v2zm4 4h-2v-2h2v2zm0-4h-2v-2h2v2zm2-5H5V7h14v2z"></path>
                        </svg>
                        <a class="nav__link">Horario</a>
                    </li>
                </ul>
            </nav>

            <section class="modal">
                <div class="modal__cerrar-sesion">
                    <p class="cerrar-sesion__titulo">
                        ¿Está seguro de que desea cerrar sesión?
                    </p>
                    <p class="cerrar-sesion__descripcion">
                        Deberá volver a introducir sus credenciales si quiere volver a
                        acceder al sistema.
                    </p>
                    <div class="cerrar__sesionn__botones">
                        <button class="cerrar-sesion__btn" id="btnAceptar">
                            Aceptar
                        </button>
                        <button class="cerrar-sesion__btn" id="btnCancelar">
                            Cancelar
                        </button>
                    </div>
                </div>
            </section>
        </aside>

        <!-- #endregion MENU-->
        <!-- #region CONTENIDO -->

        <main class="main">
            @RenderBody()
        </main>

        <!-- #endregion CONTENIDO-->

    </div>
    <script src="~/scripts/html2Pdf.js"></script>
    <script>

        const registerServiceWorker = async () => {
            if ("serviceWorker" in navigator) {
                try {
                    await navigator.serviceWorker.register("/serviceworker.js?v=8");
                } catch (error) {
                    console.error(`Falló el registro con el ${error}`);
                }
            }
        };

        const asignarNombre = ()=>{

            const perfil = JSON.parse(localStorage.getItem("perfil"));

            if (perfil) {

                let año = perfil.numeroControl.substring(0,2);
                const arrayNombre = perfil.nombreDelAlumno.split(" ");
                let nombre = arrayNombre[0];

                let apellido = (arrayNombre.length < 4)
                            ? arrayNombre[1]
                            : arrayNombre[2];


                document.querySelector(".header__opciones-img").src = `https://intertec.tec-carbonifera.edu.mx/fotos/al/${año}/${perfil.numeroControl}.jpg`;
                document.querySelector(".header__opciones-nombre").textContent = `${nombre} ${apellido}`;
                document.querySelector(".menu-flotante__nombre").textContent = `${nombre} ${apellido}`;
                document.querySelector(".menu-flotante__numcontrol").textContent = perfil.numeroControl;
            }

        }

        window.addEventListener("DOMContentLoaded",asignarNombre);

        registerServiceWorker();

    </script>
    <script src="~/scripts/main.js?v=6"></script>

</body>
</html>
