* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-principal: #1D1F26;
    --color-secundario: #333740;
    --color-terciario: #A1A6A5;
    --color-surface: #9c93fb;
    --color-grid-fondo: #f0f0f0;
    --color-bordes: #d1d1d1;
    --color-rojo: #b00005;
    --color-acredito: #53D85C;
    --color-cursando: #4EBCDA;
    --color-no-acreditado: #D04949;
    --color-sin-cursar: #e7e7e7;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
    height: 100svh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "menu main";
}



.header {
    background-color: var(--color-principal);
    height: 60px;
    padding: 0 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    position: relative;
}

.header__div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__title {
    font-size: 1.5rem;
}

.header__logo {
    width: 2.5rem;
    height: 2.5rem;
}

.header__logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__figure {
    width: 3rem;
    height: 2.5rem;
    padding: 4px;
    cursor: pointer;
}

    .header__figure:hover {
        background-color: rgb(0, 0, 0, 0.25);
        border-radius: 5px;
    }

.header__img__opciones {
    width: 100%;
    height: 100%;
}


.header__opciones{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:5px;
}

.header__opciones-foto{
    width: 40px;
    height:40px;

}

.header__opciones__informacion{
    padding-left:5px;
}

.header__opciones-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.header__opciones-nombre{
    font-size:0.8rem;
}
.header__opciones-numero{
    font-size:0.7rem;
    float:right;
}

.header__opciones-icono {
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.2rem;
}

    .header__opciones-icono:has(:hover) {
        background-color: rgb(0, 0, 0, 0.25);
        border-radius: 5px;
        cursor:pointer;
    }

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #region  MENU FLOTANTE */
.menu-flotante {
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border:1px solid var(--color-bordes);
    width: 250px;
    position: absolute;
    top: 3rem;
    right: 1rem;
    z-index: 2000;
    display: none;
}

.menu-flotante--activo {
    display: block;
}

.menu-flotante__item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 0.8rem;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid var(--color-bordes);
}

.menu-flotante > :hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.menu-flotante__item:last-child {
    border-bottom: none;
    border-radius: 0 0 10px 10px;
}

.menu-flotante__img {
    place-self: center;
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
}
.menu-flotante__info {
    display: none;
}
.menu-flotante label {
    font-size: 0.8rem;
    color: var(--color-principal);
}

.menu-flotante__info-div {
    display: flex;
    flex-direction: column;
}

.menu-flotante__nombre {
    font-size: 0.8rem;
    font-weight: 600;
}

.menu-flotante .menu-flotante__numcontrol {
    font-size: 0.8rem;
}
/* #endregion */

.menu {
    grid-area: menu;
    background-color: var(--color-secundario);
}

.nav {
    height: 100%;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0.5rem;
}

.nav__item {
    display: grid;
    gap: 0.3rem;
    padding: 0.5rem 0;
    place-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;

}

    .nav__item:hover {
        background-color: var(--color-terciario);
    }

.item-activo {
    background-color: var(--color-terciario);
    border-radius:5px;

}

.nav__link {
    color: white;
    font-size: 0.9rem;
}

.nav__img {
    width: 1.2rem;
    height: 1.2rem;
    object-fit:cover;

}

.main {
    grid-area: main;
    overflow: hidden;
}

.simbologia {
    border-radius: 10px;
    background-color: var(--color-principal);
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
}

.simbologia__contenido {
    width: 100%;
    text-align: center;
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    border-right: 1px solid white;
    place-content: center;
}

.simbologia div:last-of-type {
    border-right: none;
}

.simbologia__label {
    font-size: 1rem;
}

.simbologia__img {
    width: 1.2rem;
    height: 1.2rem;
}

/* REGION PERFIL-  */

.perfil__container {
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

.perfil {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

    .perfil .perfil__fondo {
        height: 200px;
        width: 100%;
        position: relative;
    }

.perfil__fondo__color {
    width: 100%;
    height: 80%;
    background-color: #333740;
    background-image: url("/assets/img/logo-png.png");
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: right 2rem center;
    border-radius: 10px;
}

.perfil__foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 2rem;
}

.perfil__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.perfil__info {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: center;
}

.perfil__nombre {
    font-size: 1.5rem;
    font-weight: 600;
}

.perfil__numcontrol {
    font-size: 1rem;
}

.perfil__info-general {
    border-radius: 10px;
    border: 1px solid var(--color-bordes);
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.perfil__contenido__informacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.informacion__titulo {
    color: var(--color-principal);
    font-size: 1rem;
}

.informacion__div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.informacion__label {
    font-size: 1rem;
    color: #8f8f8f;
}

.informacion__dato {
    font-size: 1rem;
}

/* END REGION PERFIL  */

/* MODAL CONFIRMAR CERRAR SESION */

.modal {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    display: none;
    z-index: 3000;
}

.modal__cerrar-sesion {
    background-color: white;
    border-radius: 10px;
    width: 70%;
    max-width: 500px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
}

.cerrar-sesion__titulo {
    color: var(--color-rojo);
    font-size: 1.2rem;
    font-weight: 600;
}

.cerrar-sesion__descripcion {
    font-size: 1rem;
}

.cerrar__sesionn__botones {
    display: flex;
    gap: 1rem;
}

.cerrar-sesion__btn {
    padding: 0.7rem 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--color-principal);
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .cerrar-sesion__btn:hover {
        background-color: var(--color-terciario);
    }

.modal__cerrar-sesion--activo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnCancelar {
    background-color: var(--color-rojo);
}

.main__contenido {
    height: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* REGION TABLA MATERIAS */

.tabla-container {
    height: 100%;
    width: 100%;
    padding-bottom: 1rem;
    overflow: auto;
    scrollbar-width: thin;
}

.tabla {
    width: 100%;
    min-width: 1500px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(150px, 1fr);
    position: relative;
    font-size: 0.8rem;
}

    .tabla .tabla__columna {
        display: flex;
        flex-direction: column;
        background-color: var(--color-bordes);
    }

.tabla__columna__titulo {
    padding: 0.2rem 0;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: var(--color-bordes);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.tabla__materia {
    height: 110px;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-sin-cursar);
    border: 1px solid #d1d1d1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: white;
}

/*.tabla__materia__titulo {
    font-weight: 200;
}
*/
/* REGION ESTILOS MATERIAS */
.materia-acreditada {
    color: black;
    background-color: var(--color-acredito);
}

.materia-cursando {
    color:black;
    background-color: var(--color-cursando);
}

.materia-no-acreditada {
    background-color: var(--color-no-acreditado);
}

.materia-sin-cursar {
    color: #000;
    background-color: var(--color-sin-cursar);
}

.tabla__materia__promedio {
    /*font-weight: 400;*/
    display: none;
}

.oportunidad {
    background-color: #D1D1D1;
    color: black;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
}

    .oportunidad.oportunidad-active {
        align-items: center;
        gap: 0.2rem;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

        .oportunidad.oportunidad-active::before {
            content: "Oportunidad";
            font-size: 0.8rem;
        }




.reticula-pdf {
    width: 1100px;
    min-width: 1100px;
    height: 700px;
    overflow: hidden;
    border-radius: 0;
    box-shadow: none;
    font-size: 6px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.tabla__materiaPDF {
    padding: 3px;
    height: 50px;
    width: 100%;
    border: 1px solid #d1d1d1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
}


.oportunidadPDF {
    width: 1rem;
    height: 1rem;
    font-size: 10px;
    border-radius:0;
}

.container-pdf {
    height: 770px;
    width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pdf__header {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-image: url(/assets/img/logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.pdf__header__titulo {
    font-size: 15px;
    text-align: center;
    line-height: 40px;
}

.pdf__informacion {
    padding: 5px 20px;
    display: flex;
    gap: 1rem;
    font-size: 10px;
}

.tabla__columna__titulo__pdf{
    font-size:8px;
    font-weight:normal;
}
/* END REGION ESTILOS MATERIAS */
/* END REGION TABLA MATERIAS */
/* REGION LOGIN */
.login {
    background-color: white;
    box-shadow: var(--box-shadow);
    height: 500px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 1rem 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.login__imagenes {
    display: flex;
    justify-content: space-between;
}

.login__img {
    width: auto;
    height: 80px;
    object-fit: cover;
}

.login__form {
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form__titulo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-principal);
}

.form__descripcion {
    font-size: 1.2rem;
    color: var(--color-principal);
}

.form__input {
    padding: 0.5rem 1rem;
    width: 100%;
    border: 1px solid var(--color-bordes);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--color-grid-fondo);
    outline: none;
}

.form__submit {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-secundario);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 40%;
    display: inline-block;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease;
}

    .form__submit:hover {
        background-color: var(--color-terciario);
    }

.form__errores {
    color: var(--color-rojo);
    font-size: 1rem;
    font-weight: 600;
}


.input-error {
    background-color: #FCF1F2;
    outline: 1.5px solid var(--color-no-acreditado);
}
.input-error::placeholder{
    color:black;
}


#loader {
    height: 60px;
    width: 60px;
    display: none;
}

.spinner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #D1D1D1;
    border-left-color: #272259;
    animation: giro 1s infinite;
}

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.noselect {
    user-select: none; /* Para la mayoría de navegadores */
    -webkit-user-select: none; /* Safari y Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
}


/* END REGION LOGIN */

/* REGION HORARIO */
.scroll {
    overflow: auto;
    scrollbar-width: thin;
    height: 95%;
    margin:1rem;
    padding-bottom:1rem;
}

.horario {
    width: 100%;
    display: flex;
    position:relative;
}

.columna-horario {
    flex: 0 0 auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align:center;
}

.horario-dia {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    background-color: var(--color-bordes);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.horario-materia {
    height: 120px;
    padding: 0.5rem;
    border: 1px solid var(--color-bordes);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.horario-materia__nombre,
.horario-materia__hora{
    font-size: 1rem;
}


.horario-materia__salon {
    font-size: 0.65rem;
}

.horario-materia__docente {
    font-size: 0.7rem;
}

.horario__pdf {
    width: 1100px;
    min-width: 1100px;
    height: 700px;
    overflow: hidden;
    border-radius: 0;
    box-shadow: none;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.columna-horario__pdf {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* END REGION HORARIO */


@media (max-width: 768px) {
    .header {
        padding: 0 1rem;
    }

    .header__figure {
        width: 2.5rem;
        height: 2rem;
    }

    .header__logo {
        width: 2rem;
        height: 2rem;
    }

    .header__opciones__informacion{
        display:none;
    }
    .menu-flotante__info{
        display:grid;
    }
    .nav__list {
        height: 100%;
        gap:0;
        padding: 5px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }


    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr 60px;
        grid-template-areas:
            "header"
            "main"
            "menu";
    }


    .menu {
        height: 60px;
    }
    .nav__item {
        overflow: hidden;
        gap: 0;
        height: 100%;
        padding:5px 1rem;
    }

    .nav__img {
        width: 1rem;
        height: 1rem;
    }

    .nav__link {
        font-size: 0.6rem;
    }

    .main__contenido {
        padding: 0;
        padding-bottom: 1rem;
    }

    .tabla-container {
        padding-inline: 1rem;
    }

    .simbologia {
        border-radius: 0;
    }

    .perfil .perfil__fondo {
        height: 7rem;
    }

    .perfil__contenido__informacion {
        grid-template-columns: 1fr;
    }
    .perfil__foto {
        width: 80px;
        height: 80px;
    }

    .perfil__img {
        border: 2px solid white;
    }

    .simbologia__contenido {
        place-items: center;
        padding: 0.5rem 0;
    }

    .simbologia__label {
        font-size: 0.8rem;
    }
}

@media (max-width: 630px) {
    .form__descripcion, .form__errores {
        font-size: 0.8rem;
    }
}

@media (max-width: 580px) {
    .menu-flotante {
        width: 200px;
    }

    .menu-flotante__item label {
        font-size: 0.8rem;
    }

    .menu-flotante__img {
        width: 1.3rem;
        height: 1.3rem;
    }

    .header__title {
        font-size: 1.2rem;
    }

    .simbologia__contenido {
        flex-direction: column;
        gap: 0.2rem;
    }

    .simbologia__label {
        font-size: 0.6rem;
    }

    .simbologia__img {
        width: 0.7rem;
        height: 0.7rem;
    }

   

    .perfil__imagen {
        grid-template-rows: 3fr 1fr;
    }

    .informacion__titulo {
        font-size: 1rem;
    }

    .informacion__label {
        font-size: 1rem;
    }

    .informacion__dato {
        font-size: 1rem;
    }

    .perfil__nombre {
        font-size: 1rem;
    }

    .perfil__numcontrol {
        font-size: 0.8rem;
    }

    .informacion__contenido {
        overflow: auto;
        grid-template-columns: 1fr;
    }

    .modal__cerrar-sesion {
        width: 90%;
    }

    .cerrar-sesion__descripcion {
        font-size: 0.8rem;
    }

    .cerrar-sesion__btn {
        padding: 0.5rem 1.5rem;
        font-size: 0.8rem;
    }

    /* END MODAL CONFIRMAR CERRAR SESION */

    /* /REGION TABLA */


    .tabla__materiaPDF {
        height: 50px;
        padding: 6px !important;
    }


    /* /END REGION TABLA */

    #loader {
        height: 40px;
        width: 40px;
    }

    .spinner {
        border: 3px solid #D1D1D1;
        border-left-color: #272259;
    }

    .columna-horario{
        width:180px;
    }


    .horario-dia{
        padding:0.2rem 0;
    }

    .horario-materia {
        height: 110px;
    }

    .horario-materia__nombre,
    .horario-materia__hora {
        font-size: 0.7rem;
    }

    .horario-materia__salon {
        font-size: 0.6rem;
    }

    .horario-materia__docente {
        font-size: 0.6rem;
    }

}



@media (max-width: 389px) {
    .login__img {
        width: auto;
        height: 60px;
        object-fit: cover;
    }

    .form__titulo {
        font-size: 1.5rem;
    }

    .login {
        height: 450px;
    }

    .header__opciones-foto{
        height:35px;
        width:35px;
    }

    .header__div {
        gap: 0.5rem;
    }
    .header__logo {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (max-width: 350px) {
    .header__title {
        font-size: 1rem;
    }

    .simbologia__contenido {
        flex-direction: column;
        gap: 0.2rem;
    }
}
